.edited-filename {
    max-width: 300px;
    display: inline-block;
    height: 20px;
}

[dnd-list],
[dnd-list] > li {
    position: relative;
}

.dndDraggingSource {
    display: none;
}

.show-dropzone > .dndPlaceholder,
.folder-dropzone.dndDragover {
    min-height: 20px;
    background-color: CornflowerBlue;
    border: 1px solid #ddd;
}